{"swagger":"2.0","info":{"description":"API to author Policies for the ACS.","version":"1.0.0","title":"Policy Authoring API","contact":{},"license":{}},"host":"szecosqa250.ip.lab.chn.arrisi.com:8080","basePath":"/services/policy-engine/","tags":[{"name":"campaign-resource","description":"Campaign Resource"},{"name":"software-module-resource","description":"Software Module Resource"},{"name":"condition-resource","description":"Condition Resource"},{"name":"data-collection-profile-resource","description":"Data Collection Profile Resource"},{"name":"policy-resource","description":"Policy Resource"},{"name":"firmware-resource","description":"Firmware Resource"},{"name":"workflow-definition-resource","description":"Workflow Definition Resource"},{"name":"groups-resource","description":"Groups Resource"}],"paths":{"/api/campaigns":{"get":{"tags":["campaign-resource"],"summary":"search","operationId":"searchUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"contains","in":"query","description":"Select entities where \"key\" or \"name\" contains this value, case insensitive match. Default is select all.","required":false,"type":"string"},{"name":"sortField","in":"query","description":"Select field to sort results upon. Default is \"key\".","required":false,"type":"string","enum":["key","name","desc","priority","active","dailyLimit","activationType","downloadWindow","activationWindow","groups","fromVersions","maxRetryAttempts","maxFailed","deactivationReason","firmwareKey","createdBy","lastModifiedBy","created","lastModified"]},{"name":"sortOrder","in":"query","description":"Select sort order. Default is \"ASC\"","required":false,"type":"string","enum":["ASC","DESC"]},{"name":"size","in":"query","description":"Max number of entries per page. Default is 20.","required":false,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"Page number of paginated results. Default is 1.","required":false,"type":"integer","format":"int32"},{"name":"output","in":"query","description":"Selects output style of results. Default is \"FULL\".","required":false,"type":"string","enum":["SUMMARY","FULL"]}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["campaign-resource"],"summary":"create","operationId":"createUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"entity","description":"entity","required":true,"schema":{"$ref":"#/definitions/Campaign"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/campaigns/_count":{"get":{"tags":["campaign-resource"],"summary":"count","operationId":"countUsingGET","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/campaigns/{key}":{"get":{"tags":["campaign-resource"],"summary":"get","operationId":"getUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"key","in":"path","description":"key","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["campaign-resource"],"summary":"update","operationId":"updateUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"key","in":"path","description":"key","required":true,"type":"string"},{"in":"body","name":"entity","description":"entity","required":true,"schema":{"$ref":"#/definitions/Campaign"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["campaign-resource"],"summary":"delete","operationId":"deleteUsingDELETE","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"key","in":"path","description":"key","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/conditions":{"get":{"tags":["condition-resource"],"summary":"search","operationId":"searchUsingGET_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"contains","in":"query","description":"Select entities where \"key\" or \"name\" contains this value, case insensitive match. Default is select all.","required":false,"type":"string"},{"name":"sortField","in":"query","description":"Select field to sort results upon. Default is \"key\".","required":false,"type":"string","enum":["key","name","desc","priority","type","value","childConditions","createdBy","lastModifiedBy","created","lastModified"]},{"name":"sortOrder","in":"query","description":"Select sort order. Default is \"ASC\"","required":false,"type":"string","enum":["ASC","DESC"]},{"name":"size","in":"query","description":"Max number of entries per page. Default is 20.","required":false,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"Page number of paginated results. Default is 1.","required":false,"type":"integer","format":"int32"},{"name":"output","in":"query","description":"Selects output style of results. Default is \"FULL\".","required":false,"type":"string","enum":["SUMMARY","FULL"]}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["condition-resource"],"summary":"create","operationId":"createUsingPOST_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"entity","description":"entity","required":true,"schema":{"$ref":"#/definitions/Condition"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/conditions/_count":{"get":{"tags":["condition-resource"],"summary":"count","operationId":"countUsingGET_1","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/conditions/{key}":{"get":{"tags":["condition-resource"],"summary":"get","operationId":"getUsingGET_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"key","in":"path","description":"key","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["condition-resource"],"summary":"update","operationId":"updateUsingPUT_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"key","in":"path","description":"key","required":true,"type":"string"},{"in":"body","name":"entity","description":"entity","required":true,"schema":{"$ref":"#/definitions/Condition"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["condition-resource"],"summary":"delete","operationId":"deleteUsingDELETE_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"key","in":"path","description":"key","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/dataCollectionProfiles":{"get":{"tags":["data-collection-profile-resource"],"summary":"search","operationId":"searchUsingGET_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"contains","in":"query","description":"Select entities where \"key\" or \"name\" contains this value, case insensitive match. Default is select all.","required":false,"type":"string"},{"name":"sortField","in":"query","description":"Select field to sort results upon. Default is \"key\".","required":false,"type":"string","enum":["key","name","desc","createdBy","lastModifiedBy","created","lastModified","type","parameters"]},{"name":"sortOrder","in":"query","description":"Select sort order. Default is \"ASC\"","required":false,"type":"string","enum":["ASC","DESC"]},{"name":"size","in":"query","description":"Max number of entries per page. Default is 20.","required":false,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"Page number of paginated results. Default is 1.","required":false,"type":"integer","format":"int32"},{"name":"output","in":"query","description":"Selects output style of results. Default is \"FULL\".","required":false,"type":"string","enum":["SUMMARY","FULL"]}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["data-collection-profile-resource"],"summary":"create","operationId":"createUsingPOST_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"entity","description":"entity","required":true,"schema":{"$ref":"#/definitions/DataCollectionProfile"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/dataCollectionProfiles/_count":{"get":{"tags":["data-collection-profile-resource"],"summary":"count","operationId":"countUsingGET_2","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/dataCollectionProfiles/{key}":{"get":{"tags":["data-collection-profile-resource"],"summary":"get","operationId":"getUsingGET_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"key","in":"path","description":"key","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["data-collection-profile-resource"],"summary":"update","operationId":"updateUsingPUT_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"key","in":"path","description":"key","required":true,"type":"string"},{"in":"body","name":"entity","description":"entity","required":true,"schema":{"$ref":"#/definitions/DataCollectionProfile"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["data-collection-profile-resource"],"summary":"delete","operationId":"deleteUsingDELETE_2","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"key","in":"path","description":"key","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/firmwares":{"get":{"tags":["firmware-resource"],"summary":"search","operationId":"searchUsingGET_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"contains","in":"query","description":"Select entities where \"key\" or \"name\" contains this value, case insensitive match. Default is select all.","required":false,"type":"string"},{"name":"sortField","in":"query","description":"Select field to sort results upon. Default is \"key\".","required":false,"type":"string","enum":["key","name","version","desc","url","model","hardwareVersion","fromVersion","username","password","fileSize","checkSumAlgorithm","checkSum","createdBy","lastModifiedBy","created","lastModified"]},{"name":"sortOrder","in":"query","description":"Select sort order. Default is \"ASC\"","required":false,"type":"string","enum":["ASC","DESC"]},{"name":"size","in":"query","description":"Max number of entries per page. Default is 20.","required":false,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"Page number of paginated results. Default is 1.","required":false,"type":"integer","format":"int32"},{"name":"output","in":"query","description":"Selects output style of results. Default is \"FULL\".","required":false,"type":"string","enum":["SUMMARY","FULL"]}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["firmware-resource"],"summary":"create","operationId":"createUsingPOST_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"entity","description":"entity","required":true,"schema":{"$ref":"#/definitions/Firmware"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/firmwares/_count":{"get":{"tags":["firmware-resource"],"summary":"count","operationId":"countUsingGET_3","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/firmwares/{key}":{"get":{"tags":["firmware-resource"],"summary":"get","operationId":"getUsingGET_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"key","in":"path","description":"key","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["firmware-resource"],"summary":"update","operationId":"updateUsingPUT_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"key","in":"path","description":"key","required":true,"type":"string"},{"in":"body","name":"entity","description":"entity","required":true,"schema":{"$ref":"#/definitions/Firmware"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["firmware-resource"],"summary":"delete","operationId":"deleteUsingDELETE_3","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"key","in":"path","description":"key","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/groups":{"get":{"tags":["groups-resource"],"summary":"search","operationId":"searchUsingGET_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"contains","in":"query","description":"Select entities where \"key\" or \"name\" contains this value, case insensitive match. Default is select all.","required":false,"type":"string"},{"name":"sortField","in":"query","description":"Select field to sort results upon. Default is \"key\".","required":false,"type":"string","enum":["key","name","desc","createdBy","lastModifiedBy","created","lastModified"]},{"name":"sortOrder","in":"query","description":"Select sort order. Default is \"ASC\"","required":false,"type":"string","enum":["ASC","DESC"]},{"name":"size","in":"query","description":"Max number of entries per page. Default is 20.","required":false,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"Page number of paginated results. Default is 1.","required":false,"type":"integer","format":"int32"},{"name":"output","in":"query","description":"Selects output style of results. Default is \"FULL\".","required":false,"type":"string","enum":["SUMMARY","FULL"]}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["groups-resource"],"summary":"create","operationId":"createUsingPOST_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"entity","description":"entity","required":true,"schema":{"$ref":"#/definitions/Group"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/groups/_count":{"get":{"tags":["groups-resource"],"summary":"count","operationId":"countUsingGET_4","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/groups/{key}":{"get":{"tags":["groups-resource"],"summary":"get","operationId":"getUsingGET_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"key","in":"path","description":"key","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["groups-resource"],"summary":"update","operationId":"updateUsingPUT_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"key","in":"path","description":"key","required":true,"type":"string"},{"in":"body","name":"entity","description":"entity","required":true,"schema":{"$ref":"#/definitions/Group"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["groups-resource"],"summary":"delete","operationId":"deleteUsingDELETE_4","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"key","in":"path","description":"key","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/policies":{"get":{"tags":["policy-resource"],"summary":"search","operationId":"searchUsingGET_5","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"contains","in":"query","description":"Select entities where \"key\" or \"name\" contains this value, case insensitive match. Default is select all.","required":false,"type":"string"},{"name":"sortField","in":"query","description":"Select field to sort results upon. Default is \"key\".","required":false,"type":"string","enum":["key","name","desc","priority","conditions","dataSourceCfg","workflowCfg","dataSinkKey","createdBy","lastModifiedBy","created","lastModified"]},{"name":"sortOrder","in":"query","description":"Select sort order. Default is \"ASC\"","required":false,"type":"string","enum":["ASC","DESC"]},{"name":"size","in":"query","description":"Max number of entries per page. Default is 20.","required":false,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"Page number of paginated results. Default is 1.","required":false,"type":"integer","format":"int32"},{"name":"output","in":"query","description":"Selects output style of results. Default is \"FULL\".","required":false,"type":"string","enum":["SUMMARY","FULL"]}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["policy-resource"],"summary":"create","operationId":"createUsingPOST_5","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"entity","description":"entity","required":true,"schema":{"$ref":"#/definitions/Policy"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/policies/_count":{"get":{"tags":["policy-resource"],"summary":"count","operationId":"countUsingGET_5","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/policies/{key}":{"get":{"tags":["policy-resource"],"summary":"get","operationId":"getUsingGET_5","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"key","in":"path","description":"key","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["policy-resource"],"summary":"update","operationId":"updateUsingPUT_5","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"key","in":"path","description":"key","required":true,"type":"string"},{"in":"body","name":"entity","description":"entity","required":true,"schema":{"$ref":"#/definitions/Policy"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["policy-resource"],"summary":"delete","operationId":"deleteUsingDELETE_5","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"key","in":"path","description":"key","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/policies/{key}/conditions":{"get":{"tags":["policy-resource"],"summary":"getPolicyConditions","operationId":"getPolicyConditionsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"key","in":"path","description":"key","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/softwareModules":{"get":{"tags":["software-module-resource"],"summary":"search","operationId":"searchUsingGET_6","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"contains","in":"query","description":"Select entities where \"key\" or \"name\" contains this value, case insensitive match. Default is select all.","required":false,"type":"string"},{"name":"sortField","in":"query","description":"Select field to sort results upon. Default is \"key\".","required":false,"type":"string","enum":["key","name","desc","url","username","password","vendor","version","createdBy","lastModifiedBy","created","lastModified"]},{"name":"sortOrder","in":"query","description":"Select sort order. Default is \"ASC\"","required":false,"type":"string","enum":["ASC","DESC"]},{"name":"size","in":"query","description":"Max number of entries per page. Default is 20.","required":false,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"Page number of paginated results. Default is 1.","required":false,"type":"integer","format":"int32"},{"name":"output","in":"query","description":"Selects output style of results. Default is \"FULL\".","required":false,"type":"string","enum":["SUMMARY","FULL"]}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["software-module-resource"],"summary":"create","operationId":"createUsingPOST_6","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"entity","description":"entity","required":true,"schema":{"$ref":"#/definitions/SoftwareModule"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/softwareModules/_count":{"get":{"tags":["software-module-resource"],"summary":"count","operationId":"countUsingGET_6","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/softwareModules/{key}":{"get":{"tags":["software-module-resource"],"summary":"get","operationId":"getUsingGET_6","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"key","in":"path","description":"key","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["software-module-resource"],"summary":"update","operationId":"updateUsingPUT_6","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"key","in":"path","description":"key","required":true,"type":"string"},{"in":"body","name":"entity","description":"entity","required":true,"schema":{"$ref":"#/definitions/SoftwareModule"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["software-module-resource"],"summary":"delete","operationId":"deleteUsingDELETE_6","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"key","in":"path","description":"key","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/workflowDefinitions":{"get":{"tags":["workflow-definition-resource"],"summary":"search","operationId":"searchUsingGET_7","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"contains","in":"query","description":"Select entities where \"key\" or \"name\" contains this value, case insensitive match. Default is select all.","required":false,"type":"string"},{"name":"sortField","in":"query","description":"Select field to sort results upon. Default is \"key\".","required":false,"type":"string","enum":["key","name","desc","script","type","createdBy","lastModifiedBy","created","lastModified"]},{"name":"sortOrder","in":"query","description":"Select sort order. Default is \"ASC\"","required":false,"type":"string","enum":["ASC","DESC"]},{"name":"size","in":"query","description":"Max number of entries per page. Default is 20.","required":false,"type":"integer","format":"int32"},{"name":"page","in":"query","description":"Page number of paginated results. Default is 1.","required":false,"type":"integer","format":"int32"},{"name":"output","in":"query","description":"Selects output style of results. Default is \"FULL\".","required":false,"type":"string","enum":["SUMMARY","FULL"]}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["workflow-definition-resource"],"summary":"create","operationId":"createUsingPOST_7","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"entity","description":"entity","required":true,"schema":{"$ref":"#/definitions/WorkflowDefinition"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/workflowDefinitions/_count":{"get":{"tags":["workflow-definition-resource"],"summary":"count","operationId":"countUsingGET_7","consumes":["application/json"],"produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/workflowDefinitions/{key}":{"get":{"tags":["workflow-definition-resource"],"summary":"get","operationId":"getUsingGET_7","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"key","in":"path","description":"key","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["workflow-definition-resource"],"summary":"update","operationId":"updateUsingPUT_7","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"key","in":"path","description":"key","required":true,"type":"string"},{"in":"body","name":"entity","description":"entity","required":true,"schema":{"$ref":"#/definitions/WorkflowDefinition"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["workflow-definition-resource"],"summary":"delete","operationId":"deleteUsingDELETE_7","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"key","in":"path","description":"key","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}}},"securityDefinitions":{"basicAuth":{"type":"basic"}},"definitions":{"Campaign":{"type":"object","required":["key"],"properties":{"activationType":{"type":"string","description":"Activation type supported by the agent","enum":["AUTO","DEFERRED"]},"activationWindow":{"description":"Date/Time inputs for the activation part of firmware upgrade. This is only set for deferred activation.","$ref":"#/definitions/TimeWindow"},"active":{"type":"boolean","example":true,"description":"If the campaign is active"},"dailyLimit":{"type":"integer","format":"int32","description":"Max Daily agent limit for upgrade for this schedule"},"deactivationReason":{"type":"string","description":"Reason , if the schedule is made inactive."},"desc":{"type":"string"},"downloadWindow":{"description":"Date/Time inputs for the download part of firmware upgrade","$ref":"#/definitions/TimeWindow"},"firmwareKey":{"type":"string","description":"Firmware definition key to be applied to this campaign"},"fromVersions":{"type":"array","description":"From firmware versions specified in the campaign","items":{"type":"string"}},"groups":{"type":"array","description":"Agent group keys that Campaign is configured for(optional)","items":{"type":"string"}},"key":{"type":"string","example":"firmwareUpgrade.1"},"maxFailed":{"type":"integer","format":"int32","description":"Total max failed upgrades after which the schedule is marked inactive"},"maxRetryAttempts":{"type":"integer","format":"int32","description":"Max retry attempts for the agent before it is marked failed and no more retries are attempted"},"name":{"type":"string","example":"Firmware Upgrade to 1.4"},"priority":{"type":"integer","format":"int32","example":0},"softwareModuleKey":{"type":"string","description":"Software module definition key to be applied to this campaign"},"type":{"type":"string","description":"Type of this campaign, FIRMWARE or SOFTWARE_MODULE","enum":["FIRMWARE","SOFTWARE_MODULE"]}}},"Condition":{"type":"object","required":["key","type"],"properties":{"childConditions":{"type":"array","items":{"type":"string"}},"desc":{"type":"string","example":"Event Connected Condition"},"key":{"type":"string","example":"event.connected"},"name":{"type":"string","example":"event.connected"},"priority":{"type":"integer","format":"int32","example":0},"type":{"type":"string","example":"EVENT_CONDITION","enum":["OUI_CONDITION","FIRMWARE_CONDITION","INGROUP_CONDITION","EVENT_CONDITION","SEARCH_CONDITION","NOT_CONDITION","AND_CONDITION","OR_CONDITION","PRODUCTCLASS_CONDITION"]},"value":{"type":"string","example":"CONNECTED"}}},"DataCollectionProfile":{"type":"object","required":["key"],"properties":{"desc":{"type":"string"},"key":{"type":"string","example":"dcProfile.cpe1"},"name":{"type":"string","example":"cpe1"},"parameters":{"type":"array","items":{"type":"string","enum":["Device.DeviceInfo.Manufacturer","Device.LocalAgent.EndpointID","Device.DeviceInfo.ManufacturerOUI","Device.DeviceInfo.ModelName","Device.DeviceInfo.HardwareVersion","Device.DeviceInfo.SoftwareVersion","Device.LocalAgent.UpTime"]}},"type":{"type":"string","enum":["CONFIGURATION_PROFILE","DATACOLLECTION_PROFILE"]}}},"DataSourceCfg":{"type":"object","required":["dataSourceKey","type"],"properties":{"dataSourceKey":{"type":"string","example":"dcProfile.cpe1"},"type":{"type":"string","enum":["CONFIGURATION_PROFILE","DATACOLLECTION_PROFILE"]}}},"Firmware":{"type":"object","required":["key","url","version"],"properties":{"checkSum":{"type":"string","example":"77091af2e1e84f61e1f5813b357f69143a816865","description":"The hash value of the downloaded file used to validate the integrity of the downloaded file, per TR-181"},"checkSumAlgorithm":{"type":"string","description":"The hash algorithm to use when performing a checksum validation of the downloaded file, per TR-181","enum":["SHA-1","SHA-224","SHA-256","SHA-384","SHA-512"]},"desc":{"type":"string"},"fileSize":{"type":"integer","format":"int64","description":"The file size of the downloaded file in bytes, per TR-181"},"fromVersion":{"type":"array","example":"[\"1\\\\.0\\\\..*-release\"]","description":"List of matching SoftwareVersion patterns","items":{"type":"string"}},"hardwareVersion":{"type":"array","example":"[\"1\\\\.9\\\\..*\"]","description":"List of matching HardwareVersion patterns","items":{"type":"string"}},"key":{"type":"string"},"model":{"type":"array","example":"[\"Example Gateway .*\", \"NE555\"]","description":"List of matching ModelName or ModelNumber patterns","items":{"type":"string"}},"name":{"type":"string"},"password":{"type":"string","example":"exampleDownloadPassword","description":"Password to be used by the Agent to authenticate with the file server, per TR-181"},"url":{"type":"string","example":"http://download.example.com/firmware.img","description":"URL specifying the source file location, per TR-181"},"username":{"type":"string","example":"exampleDownloadUsername","description":"Username to be used by the Agent to authenticate with the file server, per TR-181"},"version":{"type":"string","description":"Software version of this image"}}},"Group":{"type":"object","required":["key","name"],"properties":{"desc":{"type":"string"},"key":{"type":"string","example":"test_01"},"name":{"type":"string","example":"test_01"}}},"LocalTime":{"type":"object","properties":{"hour":{"type":"string","format":"byte"},"minute":{"type":"string","format":"byte"},"nano":{"type":"integer","format":"int32"},"second":{"type":"string","format":"byte"}}},"Pair«LocalDate,LocalDate»":{"type":"object","required":["first","second"],"properties":{"first":{"type":"string","format":"date"},"second":{"type":"string","format":"date"}}},"Policy":{"type":"object","required":["key","priority"],"properties":{"conditions":{"type":"array","items":{"type":"string","enum":["event.connected"]}},"dataSinkKey":{"type":"string","description":"Example: null"},"dataSourceCfg":{"description":"Example: null","$ref":"#/definitions/DataSourceCfg"},"desc":{"type":"string"},"key":{"type":"string","example":"policy.onSubscribe"},"name":{"type":"string","example":"Policy for USP Subscribe Event"},"priority":{"type":"integer","format":"int32","example":0},"workflowCfg":{"description":"Example: {\"key\": \"workflow.onsubscribe\",\"parameters\": null}","$ref":"#/definitions/WorkflowCfg"}}},"SoftwareModule":{"type":"object","required":["key","url","vendor"],"properties":{"desc":{"type":"string"},"key":{"type":"string"},"name":{"type":"string","description":"Name of the software module used by the Controller to generate the Software Module Deployment Unit instance UUID, per TR-181"},"password":{"type":"string","description":"Password to be used by the Agent to authenticate with the file server, per TR-181"},"url":{"type":"string","description":"URL specifying the software module file location, per TR-181"},"username":{"type":"string","description":"Username to be used by the Agent to authenticate with the file server, per TR-181"},"vendor":{"type":"string","description":"Vendor of the software module used by the Controller to generate the Software Module Deployment Unit instance UUID, per TR-181"},"version":{"type":"string","description":"Version of the software module installed on the unit. Used for searching a deployment unit instance"}}},"TimeWindow":{"type":"object","properties":{"upgradeDateRanges":{"type":"array","description":"Upgrade Dates as Pairs of Start and End Date","items":{"$ref":"#/definitions/Pair«LocalDate,LocalDate»"}},"startTime":{"$ref":"#/definitions/LocalTime"},"schedulingWindowSeconds":{"type":"integer","format":"int64"},"endTime":{"$ref":"#/definitions/LocalTime"}}},"WorkflowCfg":{"type":"object","required":["key"],"properties":{"key":{"type":"string","example":"workflow.onsubscribe"},"parameters":{"type":"object"}}},"WorkflowDefinition":{"type":"object","required":["key","name","script"],"properties":{"desc":{"type":"string"},"key":{"type":"string","example":"test_01"},"name":{"type":"string","example":"test_01"},"script":{"type":"string","example":"Note: The example value should be a JS script with valid syntax."},"type":{"type":"string","enum":["JS_V1","PY_V1"]}}}}}